# ignoring virtual environment
.venv/
venv/
sentiment_env/
# ignoring Python cache files
__pycache__/
# ignoring Jupyter Notebook checkpoints
.ipynb_checkpoints/
# ignoring data and all csv files
data/
*.csv
