certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
filelock==3.18.0
fsspec==2025.5.1
google-play-scraper==1.2.7
huggingface-hub==0.32.4
idna==3.10
joblib==1.5.1
nltk==3.9.1
numpy==2.3.0
packaging==25.0
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
six==1.17.0
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.52.4
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
